.background {
    background-image: url("https://i.imgur.com/278mlve.jpg");
    background-position: center;
    background-size: cover;
}

.label {
    font-size: 1.5rem;
}

.dash {
    height: 0.25rem !important;
    border-radius: 9999px;
    opacity: 1 !important;
}

.holder::placeholder {
    color: black;
}

.holder {
    background: rgba(226, 232, 240, 0.6) !important;
    border: unset !important;
    outline: unset !important;
}

.buttonStyles {
    z-index: 10;
    border: unset !important;
    visibility: hidden;
    padding: 0;
}

.searchStyles {
    z-index: 10;
    margin-left: -3rem;
    visibility: initial !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}