.card-body>p {
    margin: 0;
}

.bgResults {
    background-color: #f2f3f7;
}

.noData {
    color: #36383A;
}

.errorStyle {
    color: rgb(245, 57, 57);
    width: 33vw;
    word-wrap: break-word;
    margin-top: 5rem;
}

.todayWeather {
    color: rgb(33, 36, 39);
}

#wrapper {
    background-color: rgb(243 244 246);
    border-radius: 2.5rem;
    overflow: hidden;
    width: 90%;
}

@media screen and (max-height: 980px) {
    .forecastInfo>p {
        margin-bottom: 0.3rem !important;
    }
}

@media screen and (max-height: 890px) {
    .forecastInfo>p {
        margin-bottom: 0 !important;
    }
}

@media screen and (max-height: 830px) {
    .listStyles {
        padding: 0.2rem !important;
    }
}

@media screen and (max-height: 770px) {
    .listStyles {
        padding: 0 !important;
    }
}

@media screen and (min-width: 2100px) {
    .forecastInfo>p {
        font-size: 2.2rem;
    }
}

.forecastStyles {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    padding-left: 0px !important;
}