.card-body>p {
    margin: 0;
}

.bgResults {
    background-color: #f2f3f7;
}

.noData {
    color: #36383A;
}

.errorStyle {
    color: rgb(245, 57, 57);
}

.todayWeather {
    color: rgb(33, 36, 39);
}

#wrapper {
    background-color: rgb(243 244 246);
    border-radius: 2.5rem;
    overflow: hidden;
    width: 90%;
}

.forecastStyles {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    padding-left: 0px !important;
}