#App {
    background-color: rgb(31 41 55);
}

@media screen and (max-width: 900px) {
    #App {
        padding: 0 !important;
    }
    div#wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
        border-radius: unset !important;
    }
    div#wrapper>div {
        width: 100vw !important;
    }
    .form-wrapper {
        height: 25vh;
    }
    #results {
        height: 75vh;
        padding: 0.9rem !important;
    }
    .currentWeather {
        height: 15vh;
        padding: 0 !important;
    }
    .infoStyles>p {
        font-size: .7em !important;
        line-height: 1.8em !important;
    }
}

@media screen and (max-width: 500px) {
    .pStyles>p {
        font-size: .9em !important;
        line-height: 1.2em !important;
    }
    .forecastStyles>li {
        padding: .7em !important;
        height: 170px !important;
    }
    .descStyles {
        font-size: .6em !important;
    }
    .weatherStyles {
        letter-spacing: unset !important;
    }
}

@media screen and (max-height:860px) {
    .forecastStyles>li {
        padding: .7em !important;
        height: 8.8em !important;
    }
    .forecastWeather {
        margin-top: .6em !important;
        margin-bottom: .6em !important;
    }
    .todayWeather {
        margin-bottom: .6em !important;
    }
}

@media screen and (max-height:710px) {
    .forecastStyles>li {
        height: 8.6em !important;
    }
    .forecastWeather {
        margin-top: .3em !important;
        margin-bottom: .3em !important;
    }
    .todayWeather {
        margin-bottom: .3em !important;
    }
}