.listStyles {
    margin-right: 0.25rem;
    background-color: rgb(229 231 235);
}

.tempStyles {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: rgb(219 39 119);
}

.weatherStyles {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(31 41 55);
    letter-spacing: 0.1em;
}

.descStyles {
    color: rgb(156 163 175);
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.1em;
}

.dateStyles {
    letter-spacing: 0.05em;
}